h1 {
color: #E5CE63;
}     
body {
text-align: center;
}  
nav {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0; 
}  
a {
color: #D2E679;
}
